h1 {
	text-align: center;
	color: dimgrey;
	font-family: 'Rubik Mono One', sans-serif;
	font-size: 50px;
	background-color: rgb(203, 255, 203);
}

body {
	justify-content: center;
	border: 10px dotted gainsboro;
}